
/* Dark Mode */
nav ul, footer ul{
        margin: 0;
        padding: 0;
}

nav li, footer li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.dark{ 
    background-color: black; 
    color: white; 
    }

    .dark a{
        color: white;
    }

    .dark .block {
        background-color: black;
    }
    
    nav a:hover {
        text-decoration: underline;
    }

.dark footer{ 
    background-color: #FFFCF6;
     color: black;
}

.dark footer svg rect {
    fill: black;
}

.dark footer a{ 
    color: black;
}

.dark a{
    color: white;
}

.dark .block {
    background-color: black;
}

/* NAV */

.bg-cream {
    background-color:  #FFFCF6;
}

.bg-cream a {
    color: black;
}

nav {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0.2em 2.5em 0 1em;
    font-size: 0.8em;
    z-index: 2;
    transition: all ease 0.5s;
}

nav a {
    color: black;
}

nav div {
    width: 30%;
}

nav div img {
    width: 25%;
    height: auto;
    padding: 0.2em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

#btn-theme {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 2em;
    width: 120%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: none;
    cursor: pointer;
}

#btn-theme img {
    width: 24px;
}

#btn-theme p {
    position: relative;
    right: -5%;
}

#btn-theme div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Footer */

footer {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 100%;
    height: 40vh;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    font-size: 0.8em;
}

footer a
{
        text-decoration: underline;
        color: white;

}

.info-container {
    display: flex;
    width: 100%;
    height: 80%;
}

.info-container div {
    width: 50%;
}

.info-container div h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.info-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}

.map-content {
    padding: 0 0 0 1em;
}

.law-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.law-content ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.breadcrumb{
    position: absolute;
    top: 12%;
    left: 1%;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;

}

#btn-burger {
    display: none;
}

@media screen and (max-width:768px) {

    #btn-burger {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1;
        background-color: #FFFCF6;
        border-radius: 2em;
    }

    .nav-links {
        display: none;
    }

    .nav-active {
        position:absolute;
        left: 0%;
        top: -10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FFFCF6;
        border: 1px solid black;
        padding: 1em;
    }

    .nav-active li {
        margin: 0.5em 0 0.5em 0;
    }

    .dark .nav-active li a{
        color: black;
    } 

    #btn-theme {
        width: 100%;
        height: 50%;
    }
    
    #btn-theme img {
        width: 20px;
    }
    
    #btn-theme p {
        position: relative;
        right: -5%;
    }
    
    #btn-theme div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
    }
}