*,
*::before, 
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    z-index: 0;
    background-color: #FFFCF6;
    transition: all ease 0.5s;
}

h1,h2,h3,h4 {
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;

}

p {
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home {
    align-items: flex-start;
    font-size: 4em;
    width: 100%;
    height: 80vh;
    padding: 0 0 0 0.2em;
}

#home h1 {
    position: relative;
    top: 10%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.content div {
    width: 100%;
    height: 100%;
}

.content img {
    width: 50%;
}

.content .text-container {
    padding: 1em;
    font-size: 0.9em;
}

#intro h2, #one-title h2, #quebec h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 20vh;
    padding: 0 0 0.5em 0;
    font-size: 2.5em;
}

/* Partnerships */

#partnerships {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

#partnerships h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    width: 100%;
    text-align: center;
    padding: 1em;
}

#partnerships div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.UQAC h4, .CEGEP h4{
    display: flex;
    align-items: center;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    height: 70%;

}

#partnerships div div {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

#partnerships p {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 30%;
}

/* Rejoindre MMI */
#join-mmi {
    width: 100%;
    height: 100vh;
    padding: 2em;
}

#join-mmi h3 {
    font-size: 2.5em;
}

#join-mmi li {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
}

#join-mmi li p:first-child {
    font-size: 1.5em;
    font-weight: bolder;
}

/* FAQ */

#faq {
    width: 100%;
    padding: 2em 2em 5em 2em;
}

#faq h2{
    font-size: 2.5em;
    text-align: center;
}

#faq li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
}

#faq li p:first-child {
    font-size: 1.5em;
    font-weight: bolder;
}
