*,
*::before, 
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    z-index: 0;
    background-color: white;
}

h1,h2,h3,h4 {
    margin: 0;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;

}

p {
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

section {
    width: 100%;
    height: 100vh;
}

/* *** */

/* Boutons sections */

.btn-section {
    position: fixed;
    height: 100vh;
    left: 95%;
    top: 35%;
    z-index: 4;
}

.btn-section ul {
    padding: 0 1vw 0 0;
}

.btn-section li {
    display: block;
    width: 30px;
    height: 8px;
    background-color: orange;
    margin: 1em;
}

/* *** */
/* 1ère page accueil  */

#home {
    display: flex;
    justify-content: flex-end;
    background-image: url(./img/home/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.block {
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 40vw;
    z-index: 1;
}

.bg-img {
    position: absolute;
    width: 90vw;
    height: auto;
}

#home .title {
    position: relative;
    z-index: 3;
    right: 24.5%;
    top: 35%;
    text-align: center;
    mix-blend-mode: difference;
    color: white;

}

#home h1 {
    font-size: 6em;
}

#home p {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.6em;
}

/* Titre Qu'est-ce que MMI ? */

.intro-title h2 {
    position: absolute;
    font-size: 3.5em;
    padding: 0 0 0 0.5em;
    margin: 0.5em 0 0 0;
    left: 5%;
}

/* Partie Introduction  */

section:not(#home) {
    display: flex;
}

section:not(#home) .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

section:not(#home) .content p {
    position: relative;
    font-size: 1.2em;
    width: 65%;
    text-align: center;
    margin: 0 0 1em 0;
    z-index: 1;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.img-container img {
    width: 60%;
    height: 60%;
    border: 1px solid black;

}

section .content a {
    color: black;
    border: 1px solid black;
    padding: 1em;
    border-radius: 5em;
}

h3 {
    position: relative;
    font-size: 5em;
    left: -30%;
    top: 5.5%;
}


/* Choix de parcours */

#course-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1.5em 0;
}

.choice-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

#course-choice .title {
    position: relative;
    display: flex;
    align-items: flex-end;
    left: 15%;
    top: -2.5%;
}

#course-choice .title p {
    font-size: 2em;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
}

#course-choice .title h3 {
    position: relative;
    left: 0.1%;
    top: 12.5%;
}

#course-choice .title svg {
    position: absolute;
    left: 20.5%;
    bottom: 15%;
}

.choice-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #D9D9D9;
    width: 25%;
    height: 90%;
    padding: 0 1em 0 1em;
}

.choice-container h4 {
    display: flex;
    align-items: flex-end;
    font-size: 2.2em;
    width: 100%;
    height: 100%;
    margin: 0 0 1em 0;

}

.choice-container a {
    color: black;
    padding: 0.5em 1.5em 0.5em 1.5em ;
}

.crea-course {
    border-bottom: 0.5em solid #FFA4F0 ;
}

.dev-course {
    border-bottom: 0.5em solid#B2DAFF ;
}

.dev-course a{
    background-color: #B2DAFF;
}

.crea-course a {    
    background-color: #FFA4F0;
}

.dev-course div, .crea-course div {
    width: 100%;
}
/* Vie Étudiante */

#school-life {
    display: flex;
    flex-direction: column;
}

#school-life .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

#school-life .title h2 {
    font-size: 3em;
}

#school-life .title p {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.2em;
}

#school-life svg {
    margin: 1em 0 1em 0;
}

#school-life .school-container {
    display: flex;
    width: 100%;
    height: 70%;
}

#school-life .school-container p {
    width: 80%;
    padding: 0 0 0 1em;
}

#school-life .school-content {
    width: 50%;
}

#school-life .img-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#school-life img {
    width: 80%;
    height: 80%;
}

/* Partie Actualités */

#news {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#news .title {
    position: relative;
    text-align: center;
}

#news .title h2 {
    font-size: 2.5em;
}

.news-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#news ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#news li{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 1.5em 3em 1.5em 3em;
    margin: 1.5em 0 1.5em 0;
    width: 90%;
    text-align: center;
}

#news svg {
    margin: 1em 0 0.2em 0;
}

#news a {
    font-size: 0.9em;
    color: black;
    text-decoration: underline;
}

/* Palette de couleurs */

.blue {
    color:#B2DAFF;
}

.pink {
    color:#FFA4F0;
}

.green {
    color:#BEFFD4;
}

.yellow {
    color:#FFF597;
}

/* ** */

/* Responsive */

@media screen and (max-width: 710px) { 
    section:not(#home){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section:not(#home) .content p {
        width: 100%;
    }

    nav {
        display: none;
    }
 }